.header {
   width: 100%;
   padding: 10px 0;
   background-color: #eee;
   font-size: 1.2rem;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}


.cart {
   display: flex;
   align-items: center;

   & span {
      margin-left: 3px;
   }

   &-empty {
      text-align: center;
   }
}

.home {
   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}